frame > stackLayout {
  -xf-orientation: horizontal;
}
frame > label {
  font-size: large;
}
stackLayout > label {
  color: blueviolet;
}
#secondStack > label {
  background-color: chartreuse;
}
frame {
  background-color: Black;
  width: 150;
}
#detailsLabel {
  max-lines: 2;
}
