frame stackLayout {
  -xf-orientation: horizontal;
}
frame label {
  font-size: large;
}
stackLayout label {
  color: blueviolet;
}
#secondStack label {
  background-color: chartreuse;
}
#headerLabel {
  font-size: medium;
}
#detailsLabel {
  font-size: small;
  max-lines: 4;
}
